<div class="crewmateContainer">

    <div class="crewmateInfo">
    <h3 class="crewmateTitle">Flight Engineer</h3>
    
    <h1 class="crewmateName">Anousheh Ansari</h1>
    
    <p class="bodyText">Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space. </p>
    </div>
    
    <div class="crewImageContainer">
        <img src="../../../../assets/crew/image-anousheh-ansari.png" alt="" class="crewImg">
    </div>
    
    </div>