<div class="launchVehicleContainer">

    <div class="launchVehicleInfo">

    <h5 class="headingFive">The Terminology...</h5>

    <h3 class="headingThree">Launch Vehicle</h3>

    <p class="bodyText">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>

    </div>

    <img class="launchVehicleImg" src="../../../../assets/technology/image-launch-vehicle-portrait.jpg">

</div>
