<div class="crewmateContainer">

    <div class="crewmateInfo">
    <h3 class="crewmateTitle">Mission Specialist </h3>
    
    <h1 class="crewmateName">MARK SHUTTLEWORTH</h1>
    
    <p class="bodyText">Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist. </p>
    </div>
    
    <div class="crewImageContainer">
        <img src="../../../../assets/crew/image-mark-shuttleworth.png" alt="" class="crewImg">
    </div>
    
    </div>