.navbarLinks{
    list-style-type: none;
    display: flex;
    padding-right: 6px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    height: 96px;
    width: 830px;
    grid-column: 3span4;
}

.starLogo{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.navbarLine{
    grid-column: 2span3;
    grid-row: 1;
    margin-left: 20px;
    align-self: center;
    z-index: 9;
}


.navContainer{
    display: grid;
    grid-template-columns: 48px 460px 13px 1fr;
    grid-template-rows: 1fr;
    margin-left: 55px;
    padding-top: 25px;
    height: 96px;
    width: 1385px;
}

.navItem{
    margin-right: 5px;
    height: 96px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.navNumbers{
    font-weight: bold;
    margin-right: 8px;
}

.navItem a{
    color: white;
    text-decoration: none;
}

.navItem:hover{
    border-bottom: 2px white solid;
}

.active{
    border-bottom: 2px white solid;
}

@media only screen and (max-width: 376px){
    .navbarLine{
        display: none;
    }

    .navNumbers{
        display: none;
    }

    .navbarLinks{
        list-style-type: none;
        display: flex;
        padding-right: 7px;
        padding-left: 5px;
        margin-right: 0px;
        margin-left: 15px;
        margin-top: 0px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
        height: 75px;
        width: 230px;
    }

    .navContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        height: 40px;
        width: 375px;
    }

    .navItem{
        margin-right: 13px;
        height: 75px;
        font-size: 14px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
}