.crew-info{
    margin-left: 160px;
    padding-right: 60px;
}
h3, h4{
    margin: 0;
}
.text{
    margin-top: 30px;
    margin-bottom: 60px;
}
#crew-container{
    padding-top: 70px;
}
.component-content{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 500px){
    .component-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .crew-info{
        margin: 0;
        padding: 3px 10px;
        text-align: center;
    }
    #crew-container{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
    }
}