.destination-body{
    background-image: url("../../../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    padding-top: 2rem;
}
.destination-main{
    padding-top: 10rem;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8vw;
}
.destin-nav{
    margin-top: 30%;
}
.destin-nav ul{
    padding-left: 0%;
    display: flex;
    align-items: center;
}
.destin-nav button{
    background-color: transparent;
    font-style: var(--Barlow);
    letter-spacing: 2.7;
    font-size: 16px;
    color: var(--gray);
    border: none;
}
.active{
    border-bottom: 2px solid var(--white);
}
