.container{
    background-image: url(../../../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
}
#planet-information{
    margin-right: 200px;
    font-size: 16px;
    text-align: center;
}
@media only screen and (max-width: 500px){
    .container{
        background-image: url(../../../assets/destination/background-destination-mobile.jpg);
        height: 100vh;
        width: 100vw;
    }
    h5{
        margin: 20px 0 30px 0;
        text-align: center;
        font-size: 16px;
    }
}