<div class="titanContainer">
    <img src="../../../../assets/destination/image-titan.png" alt="" class="titanImg">
    <img src="../../../../assets/destination/image-titan.png" alt="" class="titanMobileImg">
    
    <div class="titanInfoContainer">
    <h2 class="heading2">Titan</h2>
    
    <p class="bodytext">{{titanDescription}}</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">{{titanDistance}}</h3>
        <h3 class="statisticsNumbers">{{titanTravelTime}}</h3>
    </div>
    </div>
    </div>
