.titanImg{
    padding-top: 25px;
}

.titanMobileImg{
    display: none;
}

.titanContainer{
    display: flex;
    justify-content: space-around;
}

.titanInfoContainer{
    height: 444px;
    width: 401px; 
    margin-top: 0px;  
}

.heading2{
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.bodytext{
    color: white;
    font-size: 18px;
    border-bottom: 1px white solid;
    padding-bottom: 53px;
}

.subText{
    color: white;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.statisticsNumbers{
    color: white;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.statistics{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 375px){

    .titanImg{
        display: none;
    }

    .titanMobileImg{
        display: block;
    }

    .titanMobileImg{
        display: block;
        width: 170px;
        height: 170px;
        align-self: center;
    }

    .titanContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .titanInfoContainer{
        height: 409px;
        width: 327px; 
        margin-top: 0px;
        text-align: center;  
    }

    .heading2{
        color: white;
        font-size: 56px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    .bodytext{
        color: white;
        font-size: 15px;
        border-bottom: 1px white solid;
        padding-bottom: 53px;
    }
    
    .subText{
        color: white;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
        height: 32px;
    }

    .statisticsNumbers{
        color: white;
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

}