<div class="titanContainer">
    <img src="../../../../assets/destination/image-titan.png" alt="" class="titanImg">
    
    <div class="titanInfoContainer">
    <h2 class="heading2">Titan</h2>
    
    <p class="bodytext">The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">1.6 Bil. KM</h3>
        <h3 class="statisticsNumbers">7 Years</h3>
    </div>
    </div>
    </div>
