.backgroundImg{
    background-image: url("../../../assets/technology/background-technology-desktop.jpg");
    background-size: 100%;
    background-size: cover;
    width: 1440px;
    height: 900px;
}

.headingFive{
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 166px;
    margin-top: 76px;
    color: white;
    text-transform: uppercase;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opacity{
    opacity: 0.2;
    margin-right: 20px;
}

.techContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 140px;
}

.techList{
    list-style: none;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.techListLink{
    height: 80px;
    width: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: solid gray 1px;
    font-size: 32px;
    color: white;
    margin-bottom: 50px;
}

.techListLink:hover{
    height: 80px;
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: none;
}

@media only screen and (max-width: 375px){

    .backgroundImg{
        background-image: url("../../../assets/technology/background-technology-mobile.jpg");
        background-size: 100%;
        background-size: cover;
        width: 375px;
        height: 710px;
    }

    .headingFive{
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 35px;
        color: white;
        text-transform: uppercase;
    }

    .techContainer{
        display: flex;
        flex-flow: column;
        margin-left: 0px;
    }

    .contentContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 490px;
    }

    .techList{
        list-style: none;
        margin-right: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: row;
    }

    .techListLink{
        height: 40px;
        width: 40px;
        background-color: transparent;
        margin-right: 5px;
        border-radius: 50%;
        border: solid gray 1px;
        font-size: 16px;
        color: white;
        margin-bottom: 50px;
    }

    .techListLink:hover{
        height: 40px;
        width: 40px;
        background-color: white;
        color: black;
        border-radius: 50%;
        border: none;
    }
    

}