@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    background-color: #0b0d17;
}
/* Navbar building*/
nav {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: regular;
    width: 100%;
    height: 50px;
    background-color: hsl(230,35%,7%);
    line-height: 50px;
    padding: 0px 100px;
    position: static;
    z-index: 1;
}
nav .logo {
    font-size: 16px;
    letter-spacing: 2.7;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    color: hsl(0,0,100%);
    list-style: none;
}
nav ul li a {
    color: #D0D6F9;
    text-decoration: none;
    padding: 0px 32px;
}
nav ul li a:link {
    color: #D0D6F9;
} 
nav ul li a:active {
    border-bottom: 3px solid #fff;
}
nav ul li a:hover {
    border-bottom: 3px solid #D0D6F9;


}

    /* Building the template for the cards */

div .image {
    background-color: #0b0d17;
}

h1,h2,h3,h4,h5 {
    margin: 10px;
    padding: 0px 0px 0px 100px;
    color: #fff;
}

h1 {
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 150px;
}
h2{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 100px;
}
h3{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 56px;
}
h4{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 32px;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75;
}

