



    /* Building the template for the cards */

div .image {
    background-color: #0b0d17;
}

/* h1,h2,h3,h4,h5 {
    margin: 10px;
    padding: 0px 0px 0px 100px;
    color: #fff;
}

h1 {
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 150px;
}
h2{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 100px;
}
h3{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 56px;
}
h4{
    font-family: 'Bellefair', serif;
    font-weight: Regular;
    font-size: 32px;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75;
} */

