<div class="marsContainer">
    <img src="../../../../assets/destination/image-mars.png" alt="" class="marsImg">
    <img src="../../../../assets/destination/image-mars.webp" alt="" class="marsMobileImg">
    
    <div class="marsInfoContainer">
    <h2 class="heading2">Mars</h2>
    
    <p class="bodytext">{{marsDescription}}</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">{{marsDistance}}</h3>
        <h3 class="statisticsNumbers">{{marsTravelTime}}</h3>
    </div>
    </div>
    </div>
