<div class="marsContainer">
    <img src="../../../../assets/destination/image-mars.png" alt="" class="marsImg">
    
    <div class="marsInfoContainer">
    <h2 class="heading2">Mars</h2>
    
    <p class="bodytext">Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">225 Mil. KM</h3>
        <h3 class="statisticsNumbers">9 Months</h3>
    </div>
    </div>
    </div>
