<div class="europaContainer">
    <img src="../../../../assets/destination/image-europa.png" alt="" class="europaImg">
    
    <div class="europaInfoContainer">
    <h2 class="heading2">Europa</h2>
    
    <p class="bodytext">{{europaDescription}}</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">{{europaDistance}}</h3>
        <h3 class="statisticsNumbers">{{europaTravelTime}}</h3>
    </div>
    </div>
    </div>