<div class="europaContainer">
    <img src="../../../../assets/destination/image-europa.png" alt="" class="europaImg">
    
    <div class="europaInfoContainer">
    <h2 class="heading2">Europa</h2>
    
    <p class="bodytext">The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.</p>
    
    <div class="statistics">
        <p class="subText">Avg. Distance</p>
        <p class="subText">Est. Travel Time</p>
        <h3 class="statisticsNumbers">625 Mil. KM</h3>
        <h3 class="statisticsNumbers">3 Yearss</h3>
    </div>
    </div>
    </div>