.exploreBtn{
    width: 274px;
    height: 274px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 35%;
    border: none;
}
.exploreBtn-text{
    font-family: var(--Belle);
    font-size: 32px;
    letter-spacing: 2;
    text-decoration: none;
}