<div class="moonContainer">
<img src="../../../../assets/destination/image-moon.png" alt="" class="moonImg">

<div class="moonInfoContainer">
<h2 class="heading2">Moon</h2>

<p class="bodytext">See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>

<div class="statistics">
    <p class="subText">Avg. Distance</p>
    <p class="subText">Est. Travel Time</p>
    <h3 class="statisticsNumbers">384,400 KM</h3>
    <h3 class="statisticsNumbers">3 Days</h3>
</div>
</div>
</div>