<div class="moonContainer">
<img src="../../../../assets/destination/image-moon.png" alt="" class="moonImg">
<img src="../../../../assets/destination/image-moon.webp" alt="" class="moonMobileImg">

<div class="moonInfoContainer">
<h2 class="heading2">Moon</h2>

<p class="bodytext">{{moonDescription}}</p>

<div class="statistics">
    <p class="subText">Avg. Distance</p>
    <p class="subText">Est. Travel Time</p>
    <h3 class="statisticsNumbers">{{moonDistance}}</h3>
    <h3 class="statisticsNumbers">{{moonTravelTime}}</h3>
</div>
</div>
</div>