.backgroundImg{
    background-image: url("../../../assets/destination/background-destination-desktop.jpg");
    background-size: 100%;
    background-size: cover;
    width: 1440px;
    height: 900px;
}