<div class="launchVehicleContainer">

    <div class="launchVehicleInfo">

    <h5 class="headingFive">The Terminology...</h5>

    <h3 class="headingThree">Space Capsule</h3>

    <p class="bodyText">A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, and plenty of other activities to keep you entertained.</p>

    </div>

    <img class="launchVehicleImg" src="../../../../assets/technology/image-space-capsule-portrait.jpg">

</div>