/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: black;
}

@media only screen and (max-width: 375px){

    body{
        width: 375px;
    }

}

