.headingFive{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.headingOne{
    font-size: 150px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bodyText{
    text-transform: uppercase;
    margin-top: 0px;
}

.homeDetails{
    display: flex;
    flex-direction: column;
    height: 382px;
    width: 450px;
    margin-left: 165px;
    color: white;
    margin-top: 320px;
}

@media only screen and (max-width: 375px){
    .homeDetails{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
        height: 276px;
        width: 327px;
        color: white;
    }

    .headingOne{
        font-size: 80px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .headingFive{
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .bodyText{
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 0px;
    }

    .homeDetails{
        display: flex;
        flex-direction: column;
        height: 276px;
        width: 327px;
        margin-left: 0px;
        color: white;
        margin-top: 25px;
    }

}