.container{
    background-image: url(../../../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
}
@media only screen and (max-width: 500px){
    .container{
        background-image: url(../../../assets/crew/background-crew-mobile.jpg);
        height: 100vh;
        width: 100vw;
    }
    h5{
        margin: 20px 0 30px 0;
        text-align: center;
        font-size: 16px;
    }
}