<div class="backgroundImg">

    <div class="contentContainer">

        <app-navbar></app-navbar>

        <h5 class="headingFive"><span class="opacity">02</span>Meet your crew</h5>

        <div class="crewContainer">
        <div class="crewRender" *ngIf="displayCrewmate === 'douglashurley'">
            <app-douglashurley></app-douglashurley>
        </div>
        <div class="crewRender" *ngIf="displayCrewmate === 'markshuttleworth'">
            <app-markshuttleworth></app-markshuttleworth>
        </div>
        <div class="crewRender" *ngIf="displayCrewmate === 'victorglover'">
            <app-victorglover></app-victorglover>
        </div>
        <div class="crewRender" *ngIf="displayCrewmate === 'anoushehansari'">
            <app-anoushehansari></app-anoushehansari>
        </div>

        <div class="crewList">
            <button (click)="handleCrewmateSelect('douglashurley')" class="crewListLink"></button>
            <button (click)="handleCrewmateSelect('markshuttleworth')" class="crewListLink"></button>
            <button (click)="handleCrewmateSelect('victorglover')" class="crewListLink"></button>
            <button (click)="handleCrewmateSelect('anoushehansari')" class="crewListLink"></button>
        </div>
        </div>

    </div>

</div>
